body {
    background-color: #b8bba4;
}

.vertical-container {
    height: 100vh;
    display: table;
    vertical-align: middle;

}
.vertical-container-row {
    display: table-cell;
    vertical-align: middle;
}

#index-droparea {
    width: 65%;
    padding: 50px;
    display: inline-block;
    border: 2px dashed #666666;
}

#index-droparea > i{
    font-size: 500%;
}

#index-upload {
    margin: 10px;
}

.doit-nav {
    font-size: 500%;
}

.doit-q {
    font-size: 150%;
}

#doit-qpanel {
    margin-top: 2em;
    margin-bottom: 3em;
    overflow-x: hidden;
    overflow-y: auto;
    height: 60vh;
    border-color: black;
    box-shadow: 0px 1px 10px #000;
    background-color: transparent;
}

#doit-qnum {
    font-size: 175%;
}

#doit-qc {
    color: red;
}

.doit-answer {
    font-size: 175%;
    padding:0.5em  0.1em;
}

.result-toolset-right {
    position: fixed;
    top: 0px;
    right: 0px;
}

.result-toolset-left {
    position: fixed;
    top: 0px;
    left: 0px;
}

#error-banner {
    width: 83%;
}

.error-text {
    padding-top: 0.5em;
    font-size: 200%;
}

.error-text a {
    color: red;
}