body {
    background-color: #b8bba4;
}

.vertical-container {
    height: 100vh;
    display: table;
    vertical-align: middle;

}

.vertical-container-row {
    display: table-cell;
    vertical-align: middle;
}

#index-droparea {
    width: 65%;
    padding: 50px;
    display: inline-block;
    border: 2px dashed #666666;
}

#index-droparea > i {
    font-size: 500%;
}

#index-upload {
    margin: 10px;
}

.doit-nav {
    font-size: 500%;
}

.doit-q {
    font-size: 150%;
}

#doit-qpanel {
    margin-top: 2em;
    margin-bottom: 4em;
    overflow-x: hidden;
    overflow-y: auto;
    height: 60vh;
    border-color: black;
    box-shadow: 0px 1px 10px #000;
    background-color: transparent;
}

#doit-qnum {
    font-size: 185%;
}

#doit-qc {
    // color: red;
    font-size: 175%;
    padding-left: 1em;
}

.doit-answer {
    font-size: 175%;
    padding: 0.5em 0.1em;
    border-radius: 4px;
    border: 1px solid dimgrey;
    box-shadow: 0px 1px 1.5px #000;
    cursor: pointer;
}

.result-toolset-right {
    position: fixed;
    top: 0px;
    right: 0px;
}

.result-toolset-left {
    position: fixed;
    top: 0px;
    left: 0px;
}

.doit-onmouse {
    background-color: darkslategrey;
}

.doit-answer-selected {
    background-color: #0099CC;
}

#doit-q {
    font-size: 150%;
}